body {
	background-color: #F0F2F5 !important;
}

.content {
	margin-top: 30%;
}

.poke-desc {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	background-color: PeachPuff;
	padding: 20px;
	border-radius: 10px;

	box-shadow: 

	rgba(0, 0, 0, 0.1) 0px -10px 45px 0px inset, 
	rgba(0, 0, 0, 0.06) 0px 2px 1px, 
	rgba(0, 0, 0, 0.09) 0px 4px 2px, 
	rgba(0, 0, 0, 0.09) 0px 8px 4px, 
	rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.poke-desc-header {
	display: flex;
	align-items: flex-end;
}

.poke-desc-header h1{
	flex: 3;
}

.poke-desc-header img{
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
}
}